.container {
	position: absolute;
	background-color:#6D6D72;
	background-image: url(static/image/bg-page-section.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	width: 750rpx;
}

.page-bg {
	position: absolute;
	width: 750rpx;
	/* height: 1600rpx; */
}

.tui-dropdown-list {
	width: 140px !important;
}

.tui-btn-class {
	width: 140px !important;
}
